<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576156752405-ph0qsnf273gpoft9g84dmc6pno56gtm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576156752405-ph0qsnf273gpoft9g84dmc6pno56gtm0</string>
	<key>API_KEY</key>
	<string>AIzaSyC70CRJn6OzhWugMaWLHc2K5PYZd5qpP_E</string>
	<key>GCM_SENDER_ID</key>
	<string>576156752405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ii.Mylaundry</string>
	<key>PROJECT_ID</key>
	<string>laundry-project-d8307</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-project-d8307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576156752405:ios:2774af42f4a7e274268c1c</string>
</dict>
</plist>